$text: #2e293c;
$secondary: #a09da6;



.testimonial-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .testimonial-container {
        width: 1280px;
        min-width: 1280px;
        height: 600px;
        position: relative;
        .arrows {
            color: #2e293c;
            position: absolute;
            display: flex;
            width: 100px;
            align-items: center;
            justify-content: center;
            bottom: 0;
            top: 0;
            cursor: pointer;
            border-radius: 8px;
            transition: .3s ease-in-out;
            &.right {
                right: 0;
            }
            .arrowIcon {
                max-width: 50px;
            }
        }
        .inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 600px;
            .t-image {
                width: 500px;
                height: 600px;
                display: flex;
                justify-content: center;
                align-items: center;
                ul {
                    display: flex;
                    position: absolute;
                    overflow: hidden;
                    height: 460px;
                    width: 340px;
                    box-shadow: 0px 0px 40px rgba(0,0,10,0.25);
                    padding: 0;
                    li {
                        height: 460px;
                        width: 340px;
                        img {
                            height: 460px;
                            width: 340px;
                        }
                    }
                }
            }
            .t-content {
                width: 500px;
                height: 600px;
                display: flex;
                align-items: center;
                ul {
                    position: absolute;
                    overflow: hidden;
                    width: 500px;
                    height: 400px;
                    li {
                        width: 500px;
                        height: 400px;
                        .content-inner {
                            .quote {

                            }
                            .name {

                            }
                            .title {

                            }
                        }
                    }
                }
            }
        }
    }
}